*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1F1F1F;
}
header{
    background-color: #121212; 
    width: 100%;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF; 
}
 
header h1{
    display: flex;
    flex-direction: column;
}
 
header img{
    width: 7em;
    padding: 2% 2%;
}
 
header form{
    display: flex;
    align-items: center;
}
nav{
    background-color: #1F1F1F; 
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #B3B3B3; 

}
 
nav a{
    text-decoration: none;
    color: #B3B3B3; 
    align-items: center;
    display: block;
    border: 1px solid white;
    width: 98%;
    margin: 1% auto;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5%;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}



#description {
    color: white;
    margin-left: 20px;
    max-width: 500px;
    text-align: center;
}
.galerie{
    display: flex;  
    justify-content: center;  
    gap: 20px;  
    flex-wrap: wrap;  
    padding: 20px;
    background-color: #1F1F1F;
}
.galerie img {
    width: 200px;  
    height: 200px;  
    object-fit: cover;  
    border-radius: 10px; 
    
    cursor: pointer;
}

#social-links {
    display: flex;
    justify-content: center;  
    gap: 15px;  /* Espace entre les icônes */
    margin-top: 20px;  
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}


.social-icon:hover {
    transform: scale(1.2);
}


#insta-link {
    display: inline-block;
}


#twitter-link {
    display: inline-block;
}


 #lightbox {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    padding-bottom: 60px;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}
 #croix{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
    background-color: #FFFFFF;
 }
footer{
    background-color: #121212; 
    width: 100%;
    color: #FFFFFF; 
    display: flex;
    justify-content: space-between;
   
}
footer p{
    display: flex;
    justify-content: space-between;
}
